 <div id="left-sidebar" class="sidebar ">
        <h5 class="brand-name">MobiStylez <a href="javascript:void(0)" class="menu_option float-right"></a></h5>
        <nav id="left-sidebar-nav" class="sidebar-nav">
            <ul class="metismenu">
                <li class="g_heading">Menus</li>
                <li><a href="/">Dashboard</span></a></li>                
                <li><a href="/clients"><span>Clients</span></a></li>
                <li><a href="/stylist"><span>Stylist</span></a></li>        
                <li><a href="/posts"><span>Posts</span></a></li>
                <li><a href="/approvals"><span>Approved Accounts</span></a></li>        
                <li><a href="/blockcontacts"><span>Block</span></a></li>
                <li><a href="/appointments"><span>Appointments</span></a></li>
                <li><a href="/pastappointments"><span>Past Appointments</span></a></li>
                <li><a href="/access"><span>Access</span></a></li>
                <li><a href="/customersupport"><span>Customer Support</span></a></li>
               <li><a href="/setting"><span>Setting</span></a></li>   
               <li><a href="/payment">Payment</a></li>
                <li>
                    <a href="javascript:void(0)" class="has-arrow arrow-c"><i class="fa fa-lock"></i><span>Authentication</span></a>
                    <ul>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/forgot-password">Forgot password</a></li>
                    </ul>
                </li>
                <li><a href="/login"><span>Logout</span></a></li>   
            
            </ul>
        </nav>        
    </div>