 <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Admin Payment Summary</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped text-nowrap table-vcenter mb-0">
                            <thead>
                                <tr>
                                    <th>Stylist Name</th>
                                    <th>Client  Name</th>
                                    <th>Recieved By Clients</th>
                                    <th> Paid to Stylish</th>
                                    <th>Remaining Stylish Payment</th>
                                    <th>Federal Tax</th>
                                    <th>Payment Status</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                   <td>Allen Collins</td>
                                   <td>Fasial Collins</td>
                                    <td>$9500</td>
                                    <td>$5000</td>
                                    <td>$3000</td>
                                    <td>10%</td>
                                    <td><span class="tag tag-success">Complete</span></td>
                                 
                                </tr>
                               <tr>
                                   <td>Allen Collins</td>
                                   <td>Fasial Collins</td>
                                    <td>$1500</td>
                                    <td>$1000</td>
                                    <td>$2000</td>
                                    <td>10%</td>
                                    <td><span class="tag tag-success">Incomplete</span></td>
                                 
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

