 <div class="col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"> Stylish Payment Summary</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped text-nowrap table-vcenter mb-0">
                            <thead>
                                <tr>
                                    <th>Stylist Name</th>
                                    <th>Stylist Payment</th>
                                    <th>Tax Deduction</th>
                                    <th>Payment Status</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sean Black</td>
                                    <td>$14,500</td>
                                    <td>10%</td>
                                    <td><span class="tag tag-success">Delivered</span></td>
                                </tr>
                                <tr>
                                    <td>Sean Black</td>
                                    <td>$14,500</td>
                                    <td>18%</td>
                                    <td><span class="tag tag-success">Delivered</span></td>
                                </tr>
                                <tr>
                                    <td>Merri Diamond</td>
                                    <td>$500</td>
                                    <td>20%</td>
                                      <td><a href="/paymentrecipt" class="payment"><button class="tag tag-primary">Click Here to Pay</button></a></td>

                                </tr>
                                <tr>
                                    <td>Sean Black</td>
                                    <td>$1,500</td>
                                    <td>15%</td>
                                    <td><span class="tag tag-success">Delivered</span></td>
                                </tr>
                                <tr>
                                    <td>Allen Collins</td>
                                    <td>$9,500</td>
                                    <td>20%</td>
                                    <td><span class="tag tag-success">Delivered</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

